@font-face {
  font-family: 'Neue Montreal';
  src: local('Neue Montreal Medium'), local('NeueMontreal-Medium'),
  url('/fonts/NeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
