html {
  font-family: $font-family;
  color: $primary-color;
  font-size: $body-font-size;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.h2 {
  font-size: $medium-font-size
}

.paragraph {
  font-size: $body-font-size;
  line-height: 1.25;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: currentColor;
    text-decoration: none;
  }
}
