$space-xl: 80px;

$font-family: 'Neue Montreal', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
Roboto, 'Helvetica Neue', Arial, sans-serif;
$small-font-size: 12px;
$body-font-size: 16px;
$medium-font-size: 18px;
$big-font-size: 24px;

$primary-color: #000;
$bg-color: #fff;
